:root {
  --text-primary: #fff;
  --text-dark: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-primary);
  background-color: rgb(20, 20, 20);
  /* min-height: min-content; */
}

main {
  width: 100%;
  height: 100%;
}
